*{
    margin: 0px auto;
    padding: 0px auto;
}
body{
    background-color: #f8f9fa;
    min-height: 700px;
}
a {
    color: #999;
}
a:hover{
    color:#f8f9fa;
    text-decoration: none;
}
p {
    font-family:"Ubuntu Condensed", sans-serif;
}
#logo {
    text-align: center;
}
#menu {
    margin-left: 200px;
}

#mainMenu #draw a, #draw a, .label{
    color:#53ccdf!important;
}
.full{
    width:100%;
}
.naslov{
    font-size: 30px;
    margin-top: 5px;
    background-color: #f8f9fa;
    margin-left: 25px;
}
.aboutDescription {
    margin-top: 25px;
}
#frontP{
    margin-top:25px;
    text-align: center;
}
#izdvojeno{
    border-radius: 7px;
    margin-top:25px;
    background-color: #fff;
}
.procitajVise {
    background-color: #999999;
    color:#fff;
    height:35px;
    width: 110px;
    text-align: center;
    border-radius:3px;
}
.procitajVise:hover{
    background-color: #222222;
}
#updateKor{
    width:50px;
}
.img img{
    border-radius: 7px 7px 0 0;
    width: 100%;
}
.description p{
    padding: 10px 15px;
    text-align: center;
}
.kontaktMail:hover, kontaktMail:hover{
    color:#222222!important;
}
.model {
    padding-top: 5px;
    padding-bottom: -10px;
    text-align: center;
}
#id{
    display: none;
}
#count{
    background-image: url('../images/count.png');
}
#brzi {
    list-style-type: none;
    font-size: 14px;
    padding-left: 5px;
}
#footer {
    width: 100%;
    background-color: #222;
    text-align: center;
    color: #999;
    font-size: 13px;
    padding-top:15px;
    margin-top: 40px;
}
#hr {
    background-color: #999;
    width: 95%;
}
.form-row{
    margin-bottom: 10px;
}
#kontakt {
    padding:-10px;
}
#socialMedia {
    margin: 0px auto;
    padding: 0px auto;
    width: 120px;
}
.komentar{
    min-height: 90px;
}